consumer/Traveller/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTravel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTravel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Traller">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Traller" nillable="true" type="tns:Traller" />
  <xs:complexType name="ImagePost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePost" nillable="true" type="tns:ImagePost" />
  <xs:complexType name="Posted">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Posted" nillable="true" type="tns:Posted" />
  <xs:complexType name="ArrayOfPosted">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Posted" nillable="true" type="tns:Posted" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosted" nillable="true" type="tns:ArrayOfPosted" />
  <xs:complexType name="ArrayOfTraller">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Traller" nillable="true" type="tns:Traller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraller" nillable="true" type="tns:ArrayOfTraller" />
  <xs:complexType name="ArrayOfImagePost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePost" nillable="true" type="tns:ImagePost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePost" nillable="true" type="tns:ArrayOfImagePost" />
  <xs:complexType name="ArrayOfPostComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostComment" nillable="true" type="tns:PostComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostComment" nillable="true" type="tns:ArrayOfPostComment" />
  <xs:complexType name="PostComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Vote" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="comment1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostComment" nillable="true" type="tns:PostComment" />
  <xs:complexType name="ArrayOfSubComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubComment" nillable="true" type="tns:SubComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubComment" nillable="true" type="tns:ArrayOfSubComment" />
  <xs:complexType name="SubComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Subcomment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubComment" nillable="true" type="tns:SubComment" />
  <xs:complexType name="Traveler">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImage" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:ArrayOfPost" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Traveler" nillable="true" type="tns:Traveler" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Sub_Comment" nillable="true" type="tns:ArrayOfSub_Comment" />
      <xs:element minOccurs="0" name="Traveler" nillable="true" type="tns:Traveler" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Vote" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="comment1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="postId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImage" />
      <xs:element minOccurs="0" name="Post1" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Post2" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Traveler" nillable="true" type="tns:Traveler" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="PostId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Traveler" nillable="true" type="tns:Traveler" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="ArrayOfSub_Comment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sub_Comment" nillable="true" type="tns:Sub_Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSub_Comment" nillable="true" type="tns:ArrayOfSub_Comment" />
  <xs:complexType name="Sub_Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="tns:Comment" />
      <xs:element minOccurs="0" name="CommentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="sub_Comment1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updateAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sub_Comment" nillable="true" type="tns:Sub_Comment" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Travelers" nillable="true" type="tns:ArrayOfTraveler" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="role_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfTraveler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Traveler" nillable="true" type="tns:Traveler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraveler" nillable="true" type="tns:ArrayOfTraveler" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>