consumer/Traveller/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53729/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceTravel" />
  <xs:element name="createImage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="LoginResult" nillable="true" type="q1:Traller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrallerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrallerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetTrallerByIdResult" nillable="true" type="q2:Traller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrallerByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrallerByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetTrallerByEmailResult" nillable="true" type="q3:Traller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetImageByUserIdResult" nillable="true" type="q4:ImagePost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="PostDetailResult" nillable="true" type="q5:Posted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsbyUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsbyUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetPostsbyUserIdResult" nillable="true" type="q6:ArrayOfPosted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetTravelersResult" nillable="true" type="q7:ArrayOfTraller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="SearchImageResult" nillable="true" type="q8:ArrayOfImagePost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="SearchResult" nillable="true" type="q9:ArrayOfPosted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetCommentsResult" nillable="true" type="q10:ArrayOfPostComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetSubCommentsResult" nillable="true" type="q11:ArrayOfSubComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsbyPostId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsbyPostIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetCommentsbyPostIdResult" nillable="true" type="q12:ArrayOfPostComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCommentsbyCommentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCommentsbyCommentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetSubCommentsbyCommentIdResult" nillable="true" type="q13:ArrayOfSubComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="postComment" nillable="true" type="q14:PostComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSubComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="subComment" nillable="true" type="q15:SubComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostSubCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostSubCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="CurrentPostResult" nillable="true" type="q16:Posted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetImagesResult" nillable="true" type="q17:ArrayOfImagePost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="imagePost" nillable="true" type="q18:ImagePost" />
        <xs:element minOccurs="0" name="PostId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImagePostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageUserPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="imagePost" nillable="true" type="q19:ImagePost" />
        <xs:element minOccurs="0" name="UsertId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageUserPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImageUserPostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetPostsResult" nillable="true" type="q20:ArrayOfPosted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="traveler" nillable="true" type="q21:Traveler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Post1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Post1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Post1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Post">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="post" nillable="true" type="q22:Post" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="image" nillable="true" type="q23:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="composite" nillable="true" type="q24:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfServiceTravel" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q25:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>